In [158]:
from pathlib import Path

import numpy as np
import pandas as pd

In [159]:
data=pd.read_csv("train.csv",index_col="tripid")
test=pd.read_csv("test.csv",index_col="tripid")

In [160]:
data.head()

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
tripid,,,,,,,,,,,,,
189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct

In [161]:
pickup = pd.DatetimeIndex(data['pickup_time'])
pickuphours = pickup.hour * 60 + pickup.minute
pickuphours

Int64Index([  20,   56,   68,  147,  214,  338,  389,  410,  420,  422,
            ...
            1282, 1296, 1313, 1316, 1319, 1327, 1387, 1401, 1419, 1429],
           dtype='int64', name='pickup_time', length=17176)

In [162]:
drop = pd.DatetimeIndex(data['drop_time'])
drophours = drop.hour * 60 + drop.minute
drophours

Int64Index([  34,   69,   86,  157,  231,  395,  409,  432,  426,  448,
            ...
            1313, 1309, 1322, 1361, 1326, 1341, 1423, 1405, 1433, 1433],
           dtype='int64', name='drop_time', length=17176)

In [163]:
hours = drophours - pickuphours
hours

Int64Index([14, 13, 18, 10, 17, 57, 20, 22,  6, 26,
            ...
            31, 13,  9, 45,  7, 14, 36,  4, 14,  4],
           dtype='int64', length=17176)

In [164]:
data['hours'] = hours
data

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label,hours
tripid,,,,,,,,,,,,,,
189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct,14
189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct,13
189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct,18
189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct,10
189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213803193,10.5,838.0,93.0,5.4219,451.0,1/31/2020 22:07,1/31/2020 22:21,7.29073,80.6367,7.28891,80.6557,198.26,correct,14
213812756,10.5,2151.0,428.0,0.0000,39.0,1/31/2020 23:07,1/31/2020 23:43,6.90569,79.8516,6.95089,79.9389,581.23,correct,36
213813930,10.5,263.0,9.0,0.0000,110.0,1/31/2020 23:21,1/31/2020 23:25,7.09210,79.9000,7.10135,79.9017,76.20,correct,4
213815405,10.5,858.0,115.0,0.0000,317.0,1/31/2020 23:39,1/31/2020 23:53,6.94540,79.8768,6.93574,79.9010,133.31,correct,14
213817296,10.5,262.0,21.0,1.2243,23.0,1/31/2020 23:49,1/31/2020 23:53,6.90257,79.9557,6.90823,79.9374,98.57,correct,4

In [165]:
pickup = pd.DatetimeIndex(test['pickup_time'])
pickuphours = pickup.hour * 60 + pickup.minute
pickuphours

Int64Index([  38,   62,  302,  330,  420,  433,  467,  468,  491,  492,
            ...
            1230, 1256, 1257, 1261, 1278, 1288, 1319, 1322, 1327, 1378],
           dtype='int64', name='pickup_time', length=8576)

In [166]:
drop = pd.DatetimeIndex(test['drop_time'])
drophours = drop.hour * 60 + drop.minute
drophours

Int64Index([  53,  133,  328,  338,  434,  475,  485,  513,  510,  515,
            ...
            1237, 1267, 1294, 1275, 1285, 1316, 1342, 1329, 1354, 1406],
           dtype='int64', name='drop_time', length=8576)

In [167]:
hours = drophours - pickuphours
hours

Int64Index([15, 71, 26,  8, 14, 42, 18, 45, 19, 23,
            ...
             7, 11, 37, 14,  7, 28, 23,  7, 27, 28],
           dtype='int64', length=8576)

In [168]:
test['hours'] = hours
test

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,hours
tripid,,,,,,,,,,,,,
213284604,10.5,924,42,2.44860,148,2/1/2020 0:38,2/1/2020 0:53,6.83454,79.8750,6.77490,79.8840,289.27,15
213286352,10.5,4249,20,0.00000,91,2/1/2020 1:02,2/1/2020 2:13,6.91168,79.8723,6.55091,79.9706,1912.70,71
213293973,10.5,1552,255,2.65880,23,2/1/2020 5:02,2/1/2020 5:28,6.92145,79.8478,6.90539,79.8989,394.00,26
213294622,10.5,462,16,0.00000,198,2/1/2020 5:30,2/1/2020 5:38,6.77433,79.9416,6.80401,79.9407,154.32,8
213298687,10.5,814,392,12.36920,69,2/1/2020 7:00,2/1/2020 7:14,6.97968,79.9130,6.98875,79.8914,147.47,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222856243,10.5,1723,429,24.83332,3,3/16/2020 21:28,3/16/2020 21:56,6.85103,79.9567,6.85588,79.9214,388.48,28
222857785,10.5,1378,80,0.00000,125,3/16/2020 21:59,3/16/2020 22:22,6.91293,79.9656,6.92112,79.8980,379.85,23
222858416,10.5,418,56,3.28440,93,3/16/2020 22:02,3/16/2020 22:09,6.85718,79.9081,6.83868,79.9083,112.79,7
222858691,10.5,1604,548,31.67440,17,3/16/2020 22:07,3/16/2020 22:34,6.91289,79.8846,6.93159,79.9145,248.46,27
222860703,10.5,1698,691,32.88820,42,3/16/2020 22:58,3/16/2020 23:26,6.91682,79.9192,6.87020,79.9340,339.63,28

In [169]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17176 entries, 189123628 to 213817296
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   additional_fare            16974 non-null  float64
 1   duration                   16974 non-null  float64
 2   meter_waiting              16974 non-null  float64
 3   meter_waiting_fare         16974 non-null  float64
 4   meter_waiting_till_pickup  16974 non-null  float64
 5   pickup_time                17176 non-null  object
 6   drop_time                  17176 non-null  object
 7   pick_lat                   17176 non-null  float64
 8   pick_lon                   17176 non-null  float64
 9   drop_lat                   17176 non-null  float64
 10  drop_lon                   17176 non-null  float64
 11  fare                       17039 non-null  float64
 12  label                      17176 non-null  object
 13  hours                      17176 non-null  int64
dtypes: float64(10), int64(1), object(3)
memory usage: 2.0+ MB

In [170]:
features_df1=data.drop('label',axis=1)
features_df2=features_df1.drop('pickup_time',axis=1)
features_df=features_df2.drop('drop_time',axis=1)
labels_df=data['label'].replace(['correct','incorrect'],[1,0])

In [171]:
test_features_df1=test.drop('pickup_time',axis=1)
test_features_df=test_features_df1.drop('drop_time',axis=1)

In [172]:
features_df.head()

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pick_lat,pick_lon,drop_lat,drop_lon,fare,hours
tripid,,,,,,,,,,,
189123628,10.5,834.0,56.0,0.0000,64.0,6.86252,79.8993,6.90330,79.8783,270.32,14
189125358,10.5,791.0,47.0,0.0000,134.0,6.88589,79.8984,6.91373,79.8923,197.85,13
189125719,10.5,1087.0,80.0,0.0000,61.0,6.90839,79.8651,6.93669,79.9146,301.64,18
189127273,10.5,598.0,271.0,15.6638,68.0,6.92570,79.8895,6.92748,79.8971,82.30,10
189128020,NaN,NaN,NaN,NaN,NaN,6.87441,79.8615,6.84478,79.9290,358.39,17

In [173]:
labels_df.head(25)

tripid
189123628    1
189125358    1
189125719    1
189127273    1
189128020    1
189129552    1
189132829    1
189135103    1
189139296    1
189138671    1
189135814    0
189140969    0
189144528    1
189147041    0
189145904    1
189146174    1
189150541    1
189153229    1
189151585    1
189157464    1
189157607    0
189157476    1
189157559    1
189159951    1
189158726    1
Name: label, dtype: int64

In [174]:
data

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label,hours
tripid,,,,,,,,,,,,,,
189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct,14
189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct,13
189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct,18
189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct,10
189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213803193,10.5,838.0,93.0,5.4219,451.0,1/31/2020 22:07,1/31/2020 22:21,7.29073,80.6367,7.28891,80.6557,198.26,correct,14
213812756,10.5,2151.0,428.0,0.0000,39.0,1/31/2020 23:07,1/31/2020 23:43,6.90569,79.8516,6.95089,79.9389,581.23,correct,36
213813930,10.5,263.0,9.0,0.0000,110.0,1/31/2020 23:21,1/31/2020 23:25,7.09210,79.9000,7.10135,79.9017,76.20,correct,4
213815405,10.5,858.0,115.0,0.0000,317.0,1/31/2020 23:39,1/31/2020 23:53,6.94540,79.8768,6.93574,79.9010,133.31,correct,14
213817296,10.5,262.0,21.0,1.2243,23.0,1/31/2020 23:49,1/31/2020 23:53,6.90257,79.9557,6.90823,79.9374,98.57,correct,4

In [175]:
test

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,hours
tripid,,,,,,,,,,,,,
213284604,10.5,924,42,2.44860,148,2/1/2020 0:38,2/1/2020 0:53,6.83454,79.8750,6.77490,79.8840,289.27,15
213286352,10.5,4249,20,0.00000,91,2/1/2020 1:02,2/1/2020 2:13,6.91168,79.8723,6.55091,79.9706,1912.70,71
213293973,10.5,1552,255,2.65880,23,2/1/2020 5:02,2/1/2020 5:28,6.92145,79.8478,6.90539,79.8989,394.00,26
213294622,10.5,462,16,0.00000,198,2/1/2020 5:30,2/1/2020 5:38,6.77433,79.9416,6.80401,79.9407,154.32,8
213298687,10.5,814,392,12.36920,69,2/1/2020 7:00,2/1/2020 7:14,6.97968,79.9130,6.98875,79.8914,147.47,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222856243,10.5,1723,429,24.83332,3,3/16/2020 21:28,3/16/2020 21:56,6.85103,79.9567,6.85588,79.9214,388.48,28
222857785,10.5,1378,80,0.00000,125,3/16/2020 21:59,3/16/2020 22:22,6.91293,79.9656,6.92112,79.8980,379.85,23
222858416,10.5,418,56,3.28440,93,3/16/2020 22:02,3/16/2020 22:09,6.85718,79.9081,6.83868,79.9083,112.79,7
222858691,10.5,1604,548,31.67440,17,3/16/2020 22:07,3/16/2020 22:34,6.91289,79.8846,6.93159,79.9145,248.46,27
222860703,10.5,1698,691,32.88820,42,3/16/2020 22:58,3/16/2020 23:26,6.91682,79.9192,6.87020,79.9340,339.63,28

In [176]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

from sklearn.linear_model import LogisticRegression
from sklearn.multioutput import MultiOutputClassifier

from sklearn.pipeline import Pipeline

from sklearn.model_selection import train_test_split

from sklearn.metrics import roc_curve, roc_auc_score

import seaborn as sns

import lightgbm as ltb

RANDOM_SEED = 6

In [177]:
numeric_cols = features_df.columns[features_df.dtypes != "object"].values
not_numeric_cols =features_df.columns[features_df.dtypes == "object"].values

In [178]:
numeric_preprocessing_steps = Pipeline([
    ('standard_scaler', StandardScaler()),
    ('simple_imputer', SimpleImputer(strategy='median'))
])


categorical_features = not_numeric_cols
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers = [
        ("numeric", numeric_preprocessing_steps, numeric_cols)
    ],
    remainder = "drop"
)

In [179]:
model = ltb.LGBMClassifier()

In [180]:
full_pipeline = Pipeline([
    ("preprocessor", preprocessor),
    ("estimators", model),
])

In [181]:
full_pipeline

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('numeric',
                                                  Pipeline(steps=[('standard_scaler',
                                                                   StandardScaler()),
                                                                  ('simple_imputer',
                                                                   SimpleImputer(strategy='median'))]),
                                                  array(['additional_fare', 'duration', 'meter_waiting',
       'meter_waiting_fare', 'meter_waiting_till_pickup', 'pick_lat',
       'pick_lon', 'drop_lat', 'drop_lon', 'fare', 'hours'], dtype=object))])),
                ('estimators', LGBMClassifier())])

In [182]:
X_train, X_eval, y_train, y_eval = train_test_split(
    features_df,
    labels_df,
    test_size=0.33,
    shuffle=True,
    stratify=labels_df,
    random_state=RANDOM_SEED
)

In [183]:
y_train.head()

tripid
205667210    0
193277385    1
201668211    1
204263911    0
206929715    1
Name: label, dtype: int64

In [184]:
full_pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('numeric',
                                                  Pipeline(steps=[('standard_scaler',
                                                                   StandardScaler()),
                                                                  ('simple_imputer',
                                                                   SimpleImputer(strategy='median'))]),
                                                  array(['additional_fare', 'duration', 'meter_waiting',
       'meter_waiting_fare', 'meter_waiting_till_pickup', 'pick_lat',
       'pick_lon', 'drop_lat', 'drop_lon', 'fare', 'hours'], dtype=object))])),
                ('estimators', LGBMClassifier())])

In [185]:
preds = full_pipeline.predict_proba(X_eval)
preds

array([[0.01359277, 0.98640723],
       [0.03885863, 0.96114137],
       [0.03570293, 0.96429707],
       ...,
       [0.12352803, 0.87647197],
       [0.30714347, 0.69285653],
       [0.01258957, 0.98741043]])

In [186]:
y_preds = pd.DataFrame(
    {
        "label": preds[:, 1],
    },
    index = y_eval.index
)

In [187]:
roc_auc_score(y_eval, y_preds)

0.9065543447240748

In [188]:
full_pipeline.fit(features_df, labels_df)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('numeric',
                                                  Pipeline(steps=[('standard_scaler',
                                                                   StandardScaler()),
                                                                  ('simple_imputer',
                                                                   SimpleImputer(strategy='median'))]),
                                                  array(['additional_fare', 'duration', 'meter_waiting',
       'meter_waiting_fare', 'meter_waiting_till_pickup', 'pick_lat',
       'pick_lon', 'drop_lat', 'drop_lon', 'fare', 'hours'], dtype=object))])),
                ('estimators', LGBMClassifier())])

In [189]:
submission_df = pd.read_csv("sample_submission.csv",
                            index_col="tripid")

In [190]:
test_probas = full_pipeline.predict(test_features_df)
test_probas

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [191]:
submission_df.head()

           prediction
tripid
213284604           1
213286352           0
213293973           0
213294622           1
213298687           1

In [192]:
np.testing.assert_array_equal(test_features_df.index.values, 
                              submission_df.index.values)

submission_df["prediction"] = test_probas

submission_df.to_csv('160180f_lightgbmWithhours.csv', index=True)

In [193]:
%alias head powershell -command "& {Get-Content %s -Head 10}"
%head my_submission.csv

tripid,prediction
213284604,1
213286352,1
213293973,1
213294622,1
213298687,1
213299545,1
213302332,1
213302671,1
213305594,1